<div class="user-div">
    <img class = "user-image" alt='alt image for <%= @user.name %>' />
    <h2> <%= @user.name %> </h2>
    <h2 class="user-posts"> Number of posts:<%= @user.posts.size %> </h2>
</div>
<a href = "./posts/new" class="button"> Create new post </a>
<% @user.posts.each do |post| %>
    <div class="user-div">
        <div style="display:flex;flex-flow:column;">
            <h2><a href="/users/<%= @user.id %>/posts/<%= post.id %>"> <%= post.title %> </a></h2><br>
            <h3> <%= post.text.first(400) %>... </h3>
        </div>
        <p class="user-posts"> Likes:<%= post.likes.size %><br>Comments:<%= post.comments.size %> </p>
    </div>
    <div class="comments">
        <h2> Comments </h2>
            <% comments = post.recent_comments %>
            <% comments.each do |comment| %>
                <h3> <%= comment.user.name %> : <%= comment.text %></h3>
            <% end %>
        </div>
<% end %>
